.database-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.database-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.database-item {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  cursor: pointer;
  border:2px solid #b4b0b0;
  border-radius: 12px;
}

.database-item:hover {
  background: #b4b0b0;
  transform: translateY(-2px) scale(1.04);
  border:2px solid #b4b0b0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.database-icon-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.2s;
}

.dialog-title {
  margin: 20px;
  font-weight: 500;
  color: #333;
}

.subtitle{
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
}

.connection-form{
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.form-row{
  display: flex;
  width: 100%;
  margin-bottom: 2px;

  &.split {
    gap: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  .flex-3{
    flex: 3;
  }

  .flex-1{
    flex: 1;
  }
}

.dialog-footer{
  padding: 16px 24px !important;
  border-top: 1px solid #d8d1d1;

  button {
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
}
